@model MobilesProject.Models.Delivery

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Delivery</h4>
    <p class="alert-danger">
        @ViewBag.error
    </p>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                List<string> Type = new List<string> { "Air", "Sea", "Road" };
            }
            @Html.DropDownList("Type", new SelectList(Type), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                List<string> Status = new List<string> { "Confirmed", "Cancelled" };
            }
            @Html.DropDownList("Status", new SelectList(Status), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CartId, "CartId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("null", TempData["CartId"], htmlAttributes: new { @class = "form-control", @disabled = "" })
            @Html.ValidationMessageFor(model => model.CartId, "", new { @class = "text-danger" })
            @*@TempData["CartId"]*@
            @Html.Hidden("CartId", TempData["CartId"])
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ShippingId, "ShippingId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ShippingId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ShippingId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "../Admin/Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
