@model IEnumerable<MobilesProject.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>My Carts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Amount
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @{
                    int total = 0;
                    total = item.CartItems.Sum(c => (int)c.Quantity * (int)c.Product.Price);
                }
                @total
            </td>
            <td>
                @{
                    if (User.Identity.Name.Equals("admin@admin.com"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                    }
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @{
                    if (item.Status.Equals("unpaid"))
                    {
                        <span>|</span> @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                    else
                    {
                        <span>|</span> @Html.ActionLink("Payment Details", "PaymentDetails", new { id = item.Id })
                    }
                    if (item.Status.Equals("shipped"))
                    {
                        <span>|</span> @Html.ActionLink("Delivery Details", "DeliveryDetails", new { id = item.Id })
                    }
                }
            </td>
        </tr>
    }

</table>
