@model IEnumerable<MobilesProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="well">
        <h1>Our Products</h1>
        @{
            string username = User.Identity.Name;
            if (username.Equals("admin@admin.com"))
            {
                <a class="btn btn-success" href="~/Products/Create">Create New</a>
            }
        }
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Search</h2>
            <hr />
            @using (Html.BeginForm())
            {
                <p>
                    <input class="btn btn-info" type="submit" value="Filter" />
                    <a href="../Products/Index" class="btn btn-warning">Reset</a>
                </p>
                if (!String.IsNullOrEmpty(ViewBag.filters))
                {
                    <p class="text-muted">Filter(s): @ViewBag.filters</p>
                }

                <h3>Products</h3>
                <dt>@Html.Label("productName", "Name")</dt>
                <dd>@Html.TextBox("productName", null, htmlAttributes: new { @class = "form-control" })</dd>
                <dt>@Html.Label("productBrand", "Brand")</dt>
                <dd>@Html.DropDownList("productBrand", null, "All", htmlAttributes: new { @class = "form-control" })</dd>

                <h3>Categories</h3>
                <h4>Type</h4>
                foreach (var item in ViewBag.productType)
                {
                    <p><input type="radio" name="productType" value="@item" /> @item</p>
                }
                <h4>Operating System</h4>
                foreach (var item in ViewBag.productOs)
                {
                    <p><input type="radio" name="productOs" value="@item" /> @item</p>
                }

                <h3>Specifications</h3>
                <h4>Memory (RAM)</h4>
                foreach (var item in ViewBag.productRam)
                {
                    <p><input type="radio" name="productRam" value="@item" /> @item</p>
                }
                <h4>Storage</h4>
                foreach (var item in ViewBag.productStorage)
                {
                    <p><input type="radio" name="productStorage" value="@item" /> @item</p>
                }
                <h4>Camera</h4>
                foreach (var item in ViewBag.productCamera)
                {
                    <p><input type="radio" name="productCamera" value="@item" /> @item</p>
                }
                <h4>Display</h4>
                foreach (var item in ViewBag.productDisplay)
                {
                    <p><input type="radio" name="productDisplay" value="@item" /> @item</p>
                }

                <p>
                    <input class="btn btn-info" type="submit" value="Filter" />
                    <a href="../Products/Index" class="btn btn-warning">Reset</a>
                </p>
            }

            <hr />
            <h2>Related Sites</h2>
            <hr />
            <p> <a href="https://www.ubuy.qa/en/category-list/mobile-tab/id-2335752011" target="_blank"> <img src="~/Content/Image/ubuy.jpg" width="100" height="100" /> Ubuy Electronics</a></p>
            <p> <a href="https://www.luluhypermarket.com/en-qa/department-store-mobiles-mobiles-tablets-mobile-accessories/c/HY00214732" target="_blank"> <img src="~/Content/Image/lulu.png" width="100" height="100" /> Lulu Mobiles</a></p>
            <p> <a href="https://www.carrefourqatar.com/mafqat/en/smartphones-tablets-wearables/mobile-accessories/phone-holders-accessories/c/NFQAT1210600?currentPage=0&filter=&nextPageOffset=0&pageSize=60&sortBy=relevance" target="_blank"> <img src="~/Content/Image/carefour.jpg" width="100" height="100" /> CarreFour Tablets</a></p>
            <p> <a href="https://alaneesqatar.qa/product-category/accessories/" target="_blank"> <img src="~/Content/Image/alnass.png" width="100" height="100" /> Al-Anees Qatar Accessories</a></p>
            <p> <a href="https://www.qatar.ourshopee.com/products-category/Mobile-Accessories/" target="_blank"> <img src="~/Content/Image/shopee.png" width="100" height="100" /> Our Shopee Devices</a></p>
            <p> <a href="https://www.starlink.qa/collections/accessories" target="_blank"> <img src="~/Content/Image/starlink.jpg" width="100" height="100" /> StarLink Entertainment</a></p>

        </div>
        <div class="col-md-9" style=" display:flex; flex-direction:row; flex-wrap:wrap;">
            @{ int idcount = 1;}
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4" style="padding:3% 1%; text-align:center">
                        <div class="card-body">
                            @{string imgloc = @Html.DisplayFor(modelItem => item.Image) + ".jpg";}
                            <img src="~/Content/Image/@Html.DisplayFor(modelItem => item.Image)" width="150" height="200" />

                            <hr />
                            <p>
                                <span>@item.Name</span> <br />
                                <span class="text-info">QAR @item.Price</span>
                            </p>
                            <hr />
                        </div>
                        <div class="card-footer">
                            @{ string modid = "modal" + idcount;}
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#@modid">More Images</button>
                            <div class="modal fade" id="@modid" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">@item.Name</h4>
                                        </div>
                                        <div class="modal-body">
                                            @{ string caroid = "caro" + idcount;}
                                            <div id="@caroid" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#@caroid" data-slide-to="0" class="active"></li>
                                                    <li data-target="#@caroid" data-slide-to="1"></li>
                                                    <li data-target="#@caroid" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img src="~/Content/Image/car/car1/@Html.DisplayFor(modelItem => item.Image)" width="100%" alt="">
                                                    </div>

                                                    <div class="item">
                                                        <img src="~/Content/Image/car/car2/@Html.DisplayFor(modelItem => item.Image)" width="100%" alt="">
                                                    </div>

                                                    <div class="item">
                                                        <img src="~/Content/Image/car/car3/@Html.DisplayFor(modelItem => item.Image)" width="100%" alt="">
                                                    </div>
                                                </div>
                                                <a class="left carousel-control" href="#@caroid" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#@caroid" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-sm btn-info" href="~/Products/Details/@item.Id">Details</a>

                            @{
                                if (User.Identity.IsAuthenticated && username != "admin@admin.com")
                                {
                                    <a class="btn btn-sm btn-success" href="~/Transaction/Buy/@item.Id">Buy</a>
                                    using (Html.BeginForm())
                                    {
                                        <br />
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" value="id" class="btn btn-sm btn-primary">Add to Wishlist <img src="~/Content/Image/fav.jpg" width="30" height="30" /></button>
                                    }
                                }

                                if (username.Equals("admin@admin.com"))
                                {
                                    <a class="btn btn-sm btn-danger" href="~/Products/Delete/@item.Id">Delete</a>
                                    <a class="btn btn-sm btn-warning" href="~/Products/Edit/@item.Id">Edit</a>
                                }

                            }
                        </div>
                    </div>
                    idcount = idcount + 1;
                }
            }
            else
            {
                <p>No products found!</p>
            }
        </div>
    </div>
</div>